In [118]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [119]:
website = 'https://www.coingecko.com/'

In [120]:
response = requests.get(website)

In [121]:
response.status_code

200

In [122]:
soup = BeautifulSoup(response.content , 'html.parser')

In [123]:
results = soup.find("table" , attrs={'class':"table-scrollable"}).find('tbody').find_all('tr')

In [124]:
results[0].find("a", class_ = "tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between").get_text().strip()

'Bitcoin'

In [125]:
results[0].find("td" , class_ = "td-price price text-right pl-0").get_text().strip()

'$28,499.15'

In [126]:
results[0].find("td" , class_ = "td-liquidity_score lit text-right col-market").get_text().strip()

'$68,368,658,069'

In [127]:
results[0].find("td" , class_ = "td-market_cap cap col-market cap-price text-right").get_text().strip()

['$547,275,571,787',
 '$260,823,781,969',
 '$82,735,570,571',
 '$48,788,970,804',
 '$44,387,450,560',
 '$19,288,703,980',
 '$17,176,181,424',
 '$17,016,593,229',
 '$16,663,499,930',
 '$11,117,931,863',
 '$9,660,340,684',
 '$9,100,770,985',
 '$8,853,471,907',
 '$8,777,996,341',
 '$8,148,099,907',
 '$7,513,482,129',
 '$6,381,618,433',
 '$6,216,359,711',
 '$4,879,566,383',
 '$4,863,037,483',
 '$4,485,099,825',
 '$4,423,295,381',
 '$4,237,466,216',
 '$4,102,413,731',
 '$3,567,048,540',
 '$3,141,855,901',
 '$3,032,903,300',
 '$3,024,288,945',
 '$2,993,472,052',
 '$2,782,736,934',
 '$2,595,961,558',
 '$2,483,916,593',
 '$2,170,089,808',
 '$1,993,278,350',
 '$1,958,743,422',
 '$1,951,596,260',
 '$1,932,889,423',
 '$1,886,178,774',
 '$1,886,014,548',
 '$1,828,200,443',
 '$1,817,656,368',
 '$1,788,212,665',
 '$1,672,718,306',
 '$1,618,752,919',
 '$1,592,041,969',
 '$1,542,869,810',
 '$1,490,247,205',
 '$1,486,772,326',
 '$1,460,136,117',
 '$1,359,927,616',
 '$1,280,052,209',
 '$1,277,189,625',
 '$1,267,821,351',
 '$1,204,743,565',
 '$1,193,342,219',
 '$1,187,494,066',
 '$1,175,499,513',
 '$1,147,014,429',
 '$1,140,400,714',
 '$1,124,859,382',
 '$1,121,753,260',
 '$1,026,772,177',
 '$1,017,177,676',
 '$1,013,058,595',
 '$994,869,540',
 '$977,293,483',
 '$976,014,076',
 '$963,881,859',
 '$912,497,076',
 '$883,959,290',
 '$859,153,210',
 '$855,531,820',
 '$854,096,840',
 '$849,049,620',
 '$841,501,220',
 '$826,845,480',
 '$781,685,466',
 '$779,932,689',
 '$777,230,276',
 '$775,204,008',
 '$775,117,987',
 '$754,456,111',
 '$752,417,578',
 '$743,179,710',
 '$734,924,546',
 '$720,922,527',
 '$717,880,179',
 '$705,560,903',
 '$654,166,686',
 '$639,428,468',
 '$609,083,696',
 '$603,343,736',
 '$600,751,462',
 '$595,019,242',
 '$555,031,799',
 '$550,999,482',
 '$549,826,438',
 '$545,444,849',
 '$544,176,823',
 '$541,504,156']

In [128]:
name = []
price = []
volume_24h = []
mktcap = []

for result in results:
    
    try:
        name.append(result.find("a", class_ = "tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between").get_text().strip())
    except:
        name.append("n/a")
        
    
    try:
        price.append(result.find("td" , class_ = "td-price price text-right pl-0").get_text().strip())
    except:
        name.append("n/a")
        
        
    try:
        volume_24h.append(result.find("td" , class_ = "td-liquidity_score lit text-right col-market").get_text().strip())
    except:
        name.append("n/a")
        
        
    try:
        mktcap.append(result.find("td" , class_ = "td-market_cap cap col-market cap-price text-right").get_text().strip())
    except:
        name.append("n/a")

In [129]:
crypto_df = pd.DataFrame({'Coin' : name , 'price' : price , 'Volume_24h' : volume_24h , 'mktcap' : mktcap})

In [130]:
crypto_df

,Coin,price,Volume_24h,mktcap
0,Bitcoin,"$28,499.15","$68,368,658,069","$547,275,571,787"
1,Ethereum,"$1,982.38","$48,209,458,268","$260,823,781,969"
2,Tether,$1.00,"$154,777,741,001","$82,735,570,571"
3,USD Coin,$1.01,"$20,179,870,408","$48,788,970,804"
4,BNB,$256.04,"$4,459,263,034","$44,387,450,560"
...,...,...,...,...
95,Enjin Coin,$0.567005,"$362,769,774","$550,999,482"
96,Synthetix Network Token,$2.37,"$157,065,973","$549,826,438"
97,Chiliz,$0.094972600408,"$213,214,904","$545,444,849"
98,Amp,$0.010544598553,"$19,853,303","$544,176,823"
99,Curve DAO Token,$1.33,"$386,245,078","$541,504,156"