In [131]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [135]:
website = 'https://www.coingecko.com/'

In [136]:
response = requests.get(website)

In [137]:
response.status_code

200

In [138]:
soup = BeautifulSoup(response.content , 'html.parser')

In [139]:
results = soup.find("table" , attrs={'class':"table-scrollable"}).find('tbody').find_all('tr')

In [140]:
results[0].find("a", class_ = "tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between").get_text().strip()

'Bitcoin'

In [141]:
results[1].find("td" , class_ = "td-price price text-right pl-0").get_text().strip()

'$1,954.56'

In [142]:
results[0].find("td" , class_ = "td-liquidity_score lit text-right col-market").get_text().strip()

'$68,048,105,479'

In [143]:
results[0].find("td" , class_ = "td-market_cap cap col-market cap-price text-right").get_text().strip()

'$547,275,571,787'

In [144]:
name = []
price = []
volume_24h = []
mktcap = []

for result in results:
    
    try:
        name.append(result.find("a", class_ = "tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between").get_text().strip())
    except:
        name.append("n/a")
        
    
    try:
        price.append(result.find("td" , class_ = "td-price price text-right pl-0").get_text().strip())
    except:
        name.append("n/a")
        
        
    try:
        volume_24h.append(result.find("td" , class_ = "td-liquidity_score lit text-right col-market").get_text().strip())
    except:
        name.append("n/a")
        
        
    try:
        mktcap.append(result.find("td" , class_ = "td-market_cap cap col-market cap-price text-right").get_text().strip())
    except:
        name.append("n/a")

In [145]:
crypto_df = pd.DataFrame({'Coin' : name , 'price' : price , 'Volume_24h' : volume_24h , 'mktcap' : mktcap})

In [147]:
crypto_df.columns

Index(['Coin', 'price', 'Volume_24h', 'mktcap'], dtype='object')

In [149]:
name = []
price = []
volume_24h = []
mktcap = []

for i in range (1,135):

    website = 'https://www.coingecko.com/?page=' + str(i)
    
    response = requests.get(website)
    
    soup = BeautifulSoup(response.content , 'html.parser')
    
    results = soup.find("table" , attrs={'class':"table-scrollable"}).find('tbody').find_all('tr')
    
    for result in results:
    
        try:
            name.append(result.find("a", class_ = "tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between").get_text().strip())
        except:
            name.append("n/a")


        try:
            price.append(result.find("td" , class_ = "td-price price text-right pl-0").get_text().strip())
        except:
            name.append("n/a")


        try:
            volume_24h.append(result.find("td" , class_ = "td-liquidity_score lit text-right col-market").get_text().strip())
        except:
            name.append("n/a")


        try:
            mktcap.append(result.find("td" , class_ = "td-market_cap cap col-market cap-price text-right").get_text().strip())
        except:
            name.append("n/a")

In [150]:
crypto_df = pd.DataFrame({'Coin' : name , 'price' : price , 'Volume_24h' : volume_24h , 'mktcap' : mktcap})

In [151]:
crypto_df

                      Coin            price       Volume_24h            mktcap
0                  Bitcoin       $30,480.96  $26,332,051,923  $580,095,456,848
1                 Ethereum        $2,079.69  $18,066,278,789  $251,412,934,392
2                   Tether            $1.00  $54,842,975,177   $75,814,256,988
3                 USD Coin            $1.00   $9,217,971,360   $52,261,693,139
4                      BNB          $306.58   $1,642,005,622   $51,546,138,799
...                    ...              ...              ...               ...
13395  Partisia Blockchain              N/A                ?                 ?
13396   Online Cold Wallet  $0.055124947508          $763.05                 ?
13397       Berachain BERA              N/A                ?                 ?
13398      Berachain Honey              N/A                ?                 ?
13399                O-Mee              N/A                ?                 ?

[13400 rows x 4 columns]

In [157]:
crypto_df.to_excel('Ult_bot.xlsx')

ValueError: No engine for filetype: 'csv'